$darkest: #141517;
$dark: #2C2E3F;
$light: #FFFFFF;
$light-bg: #FBF8F8;
$accent-main: #FE7865;
$accent-hover: #F17D4B;

$font-family: "Montserrat", Arial, sans-serif;

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1170px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
